body {margin-bottom:14ex; margin-left:4ex; margin-right:4ex; margin-top:4ex;
      max-width:80ex; text-align:justify}

h1,h2,h3 {font-family:monospace; color:dimgray}
h2 {font-size:1.6em; margin-top:5ex}
h3 {font-size:1.1em; margin-bottom:1ex; margin-top:3ex}

figcaption {font-family:sans-serif; font-size:0.8em; line-height:1.3em}
